// COLORS
$color-primary: #3f51b5;
$color-secondary: #009688;
$color-background: #eee;

$text-dark: #777;
$text-light: #eee;

// FONT
$default-font-size: 1.6rem;
$heading-large: 6rem;
$heading-medium: 4.5rem;
$heading-small: 3rem;
$text-small: 1rem;
$text-large: 2rem;

// GRID
$grid-width: 114rem;
$grid-gutter-vertical: 3rem;
$grid-gutter-horizontal: 3rem;