@import url('https://fonts.googleapis.com/css?family=Spectral+SC');


* {
  padding: 0;
  margin: 0;
  font-family: 'Spectral SC', serif;
}

body {
  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 3em;
  color: #F3F7D2;
}

.container {
  width: 70%;
  margin: auto;
  margin-top: 5em;
  text-align: center;
}

#red, #blue, #green, #yellow {
  width: 10em;
  height: 3.5em;
  margin: 1em;
  border-radius: 20px;
  outline: none;
}

#red, #blue, #green, #yellow:hover {
  cursor: pointer;
}

#red {
  border: 3px solid red;
  background-color: red;
}

#blue {
  border: 3px solid blue;
  background-color: blue;
}

#green {
  border: 3px solid green;
  background-color: green;
}

#yellow {
  border: 3px solid yellow;
  background-color: yellow;
}

#start, #strict, #switch {
  height: 2.5em;
  width: 5em;
  margin: 10px;
  border-radius: 20px;
  color: #fff;
  background-color: #222;
  box-shadow: 5px 5px 5px black;
  border: none;
  outline: none;
  font-size: 20px;
}

#start, #strict, #switch:hover {
  cursor: pointer;
}

#counter {
  height: 1.5em;
  width: 5em;
  color: red;
  font-size: 40px;
  border: none;
  box-shadow: 5px 5px 5px black;
  border-radius: 20px;
  vertical-align: middle;
  line-height: 10px;
  background-color: #222;
}

.swActive {
  opacity: 0.2;
}

.hidden {
  display: none;
}

p {
  color: red;
  margin-top: 20px;
  font-size: 2em;
}

#credit {
  margin-top: 5em;
  text-align: center;
}

#credit h4 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

ul li{
  transform: scale(1);
  transition: 0.5s;
  margin: 0 1em;
  display: inline;
}

ul li:hover{
  transform: scale(1.5);
  transition: 0.5s;
}

ul li a {
  color: white;
}

ul li a:hover {
  color: white;
}
