@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

@keyframes slideR {
    0%   {left: -250px;}
    100%   {left: -0px;}
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  background-image: url("http://i65.tinypic.com/2j10d94.jpg");
}

.container {
  height: 600px;
  width: 400px;
  background-image: url("http://i65.tinypic.com/1424iew.jpg");
  margin-top: 70px;  
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#aiturn {
  height: 50px;
  width: 200px;
  position: absolute;
  left: 0px;
  top: 180px;
  visibility: hidden;
}

#userturn {
  height: 50px;
  width: 200px;
  position: absolute;
  left: 0px;
  top: 180px;
  visibility: hidden;
}

#gameover {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 220px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-image: url("http://i65.tinypic.com/1424iew.jpg");
  visibility: hidden;
}

.active {
  visibility: visible !important;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
  animation-name: slideR;
}

hr {
  width: 60%;
  margin: auto;
  padding: auto;
  color: black;
  border: 1px solid black;
}

h1 {
  padding-top: 10px;
  padding-bottom: 0px;
}

h4 {
  margin-top: -15px;
}

h3 {
  margin-top: 20px;
  
}

button {
  height: 50px;
  width: 50px;
  margin: 10px 15px;
  background: none;
  border: none;
  font-size: 1.5em;
  outline: none !important;
}

button:hover {
  cursor: pointer;
  font-size: 2em;  
}

#reset {
  height: 50px;
  width: 150px;
}

table {
  margin: 0 auto;
  margin-top: 25px;
}

td {
  height: 80px;
  width: 80px;
  font-size: 2.7em;
  font-family: 'Kaushan Script', cursive;
}

td:hover {
  cursor: pointer;
}

#t2 {
  border-right: 2px solid black; 
  border-left: 2px solid black; 
}

#t4, #t6 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#t5 {
  border: 2px solid black;
}

#t8 {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

p {
  margin-top: 15px;
  font-size: 1.3em;
  text-align: center;
}

#credit {
  margin-top: 10em;
}

#credit h4 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

ul li{
  transform: scale(1);
  transition: 0.5s;
  margin: 0 1em;
}

ul li:hover{
  transform: scale(1.5);
  transition: 0.5s;
}

ul li a {
  color: #000;
}

ul li a:hover {
  color: #000;
}
